{
  "env": {
    "development": {
      "plugins": [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "src": "./src/",
              "styles": "./styles/"
            },
            "extensions": [".js", ".jsx", ".tsx", ".ts"]
          }
        ]
      ],
      "presets": ["next/babel", "@babel/preset-typescript"]
    },
    "production": {
      "plugins": [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "src": "./src"
            },
            "extensions": [".js", ".jsx", ".tsx", ".ts"]
          }
        ]
      ],
      "presets": ["next/babel", "@babel/preset-typescript"]
    }
  },
  "plugins": [["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]]
}
